.feature-cards{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-between;
}
.feature-cards>.feature-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    width: 348px;
height: 269px;
border-radius: 24px;
background: #FFF;
padding: 24px;
box-shadow: 0px 0px 12px 0px rgba(39, 7, 37, 0.08);
flex-grow: 1;
cursor: pointer;
}
.feature-cards>.feature-card:hover{
    box-shadow: 6px 6px 12px 3px rgb(26 4 4 / 23%);
}
.feature-cards>.feature-card>img{
    width: 64px;
height: 64px;
margin-bottom: 16px;
}
.feature-cards>.feature-card>h2{
    color: #120400;
text-align: center;
font-family: "Proza Libre";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 150%; /* 30px */
}
.feature-cards>.feature-card>p{
    color: var(--Text-Color-Black-02, #555150);
    text-align: center;
    font-family: "SF Pro Text";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.feature-cards>.partnerships{
    align-items: flex-start ;
    padding: 35px ;
}
.feature-cards>.partnerships>img{
    width: 48px ;
height: 48px ;
}
.feature-cards>.partnerships>h2{
    text-align: left ;
}
.feature-cards>.partnerships>p{
    text-align: left ;
}
.feature-cards>.beauty-salon{
    align-items: flex-start ;
    padding: 35px ;
    background-color: #FDF3F0 ;
}
.feature-cards>.beauty-salon.active{
    background-color: #FFF ;
}
.feature-cards>.beauty-salon>img{
    width: 48px ;
height: 48px ;
}
.feature-cards>.beauty-salon>h2{
    text-align: left ;
}
.feature-cards>.beauty-salon>p{
    text-align: left ;
}


@media screen and (max-width:1300px) {
    .feature-cards>.feature-card {
        width: 320px;
    }
}

@media screen and (max-width:1220px) {
    .feature-cards>.feature-card {
        width: 300px;
    }
}
@media screen and (max-width:1160px) {
    .feature-cards>.feature-card {
        width: 280px;
    }
    .feature-cards>.partnerships {
        padding: 15px ;
    }
}
@media screen and (max-width: 1100px) {
    .feature-cards {
        column-gap: 40px;
    }
    .feature-cards>.feature-card {
        width: 240px;
    }
    .feature-cards>.partnerships {
        padding: 6px ;
    }
}
@media screen and (max-width: 950px) {
    .feature-cards {
        justify-content: center;
    }
    .feature-cards>.feature-card {
        width: 300px;
        flex-grow: 0;
    }
}
@media screen and (max-width: 710px) {
    
    .feature-cards>.feature-card {
        width: 280px;
    }
}
@media screen and (max-width: 680px) {
    
    .feature-cards>.feature-card {
        width: 250px;
    }
    .feature-cards>.feature-card>img {
        width: 44px;
        height: 44px;
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 630px) {
    
    .feature-cards>.feature-card {
        width: 200px;
    }
    .feature-cards>.partnerships {
        width: 230px;
        padding: 12px;
    }
    .feature-cards>.partnerships>img {
        width: 44px;
        height: 44px;
        margin-bottom: 6px;
    }
    .feature-cards>.beauty-salon {
        width: 230px;
        padding: 12px;
    }
}
@media screen and (max-width: 550px) {
    .feature-cards {
        
    width: 100%;
    flex-wrap: nowrap;
    overflow: scroll;
    justify-content: flex-start;
    padding-bottom: 20px;
    }
    .feature-cards>.feature-card {
        min-width: 210px;
        padding: 12px;
        height: auto;
    }
    .feature-cards>.feature-card>img {
        width: 44px;
        height: 44px;
        margin-bottom: 8px;
    }
    .feature-cards>.feature-card>h2 {
        font-size: 16px;
    }
    .feature-cards>.feature-card>p {

        font-size: 12px;
    }
}