.navbar-container{
    background-color: #fff;
    box-shadow: 0px 4px 12px 0px rgba(18, 4, 0, 0.07);
    padding: 20px 100px;
    width: 100%;
    z-index: 10;
    position: relative;
}
.change-bg{
    background-color:  #FDF3F0;
}
.navbar-container>.navbar{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    align-items: center;
}
.navbar-container>.navbar>img{
    width: 129.335px;
height: 29px;
}
.navbar-container>.navbar>.navbar-items{
    display: flex;
    gap: 20px;
}
.navbar-container>.navbar>.navbar-items>p{
    color: #555150;
text-align: center;
font-family: "SF Pro Display";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
cursor: pointer;
}
.navbar-container>.navbar>.navbar-items>.active{
    color: var(--Text-Color-Black-01, #120400);
font-weight: 500;
border-bottom: solid 2px #EFB9AA;
border-radius: 1px;
padding-bottom: 5px;
}

.navbar-container>.navbar>span:nth-child(2){
    background-color: #FFF;
    border-radius: 50px;
    align-items: center;
    padding: 6px 24px;
    display: flex;
    gap: 16px;
    fill: rgba(255, 255, 255, 0.90);
    filter: drop-shadow(0px 6px 20px rgba(2, 19, 0, 0.08));
}
.navbar-container>.navbar>span>.dropdown{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navbar-container>.navbar>span>.dropdown>span{
    display: flex;
    align-items: center;
}
.navbar-container>.navbar>span>.dropdown>span>img{
width: 24px;
height: 24px;
margin-right: 6px;
}
.navbar-container>.navbar>span>.dropdown>img{
    cursor: pointer;
width: 16px;
height: 16px;
}
.navbar-container>.navbar>span>.dropdown>span>p{
    color: #120400;

/* Body 02 14/Regular */
font-family: "SF Pro Display";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.navbar-container>.navbar>span>.search{
    display: flex;
    gap: 12px;
}
.navbar-container>.navbar>span>.line{
    width: 2px;
height: 40px;
background-color: #CDCAC9;
}
.navbar-container>.navbar>span>.search>img{
width: 24px;
height: 24px;
}
.navbar-container>.navbar>span>.search>input{
    border: none;
    outline: none;
}
.navbar-container>.navbar>span>.search>input::placeholder{
    color: #555150;

/* Body 02 14/Regular */
font-family: "SF Pro Display";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}

.navbar-container>.navbar>.buttons{
    display: flex;
    gap: 24px;
    align-items: center;
}
.navbar-container>.navbar>.buttons>.heart-icon{
    width: 24px;
height: 24px;
cursor: pointer;
}
.navbar-container>.navbar>.buttons>button{
border: none;
outline: none;
padding: 11px 14px;
color: #FFF;
text-align: center;
border-radius: 10px;
background:  #120400;
/* Body 02 14/Medium */
font-family: "SF Pro Display";
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 18.2px */
cursor: pointer;
}
.navbar-container>.navbar>.navbar-baricon{
    display: flex;
    width: 50px;
    border-radius: 5px;
    height: 15px;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    position: relative;
    justify-content: center;
}
.navbar-container>.navbar>.navbar-baricon>span{
    width: 30px;
    height: 5px;
    background-color: #120400d1;
    border-radius: 5px;
    position: absolute;
    transition: 1s;
}
.navbar-container>.navbar>.navbar-baricon>span:nth-child(1){
    top: 0;
    transition: 1s;
}
.navbar-container>.navbar>.navbar-baricon>span:nth-child(2){
    bottom: 0;
    transition: 1s;
}
.navbar-container>.navbar>.navbar-baricon.active>span:nth-child(1){
    transform: rotate(45deg);
    top: 5px;
    transition: 1s;
}
.navbar-container>.navbar>.navbar-baricon.active>span:nth-child(2){
    transform: rotate(-45deg);
    bottom: 5px;
    transition: 1s;
}
.navbar-container>.navbar>.navbar-baricon{
    display: none;
}
@media screen and (min-width:1400px) {
    .navbar-container>.navbar>img {
        width: 180px;
        height: 45px;
    }
    .navbar-container>.navbar>.navbar-items>p {
        font-size: 20px;
    }
    .navbar-container>.navbar>.buttons>.heart-icon{
        width: 32px;
        height: 32px;
        cursor: pointer;
    }
    .navbar-container>.navbar>.buttons>button {
        font-size: 18px;
    }
}

@media screen and (max-width:1220px) {
    .navbar-container>.navbar>span:nth-child(2) {
        padding: 6px 12px;
        gap: 8px;
    }
}
@media screen and (max-width:1100px) {
    .navbar-container>.navbar>span>.dropdown {
        gap: 12px;
    }
    .navbar-container>.navbar>.buttons {
        gap: 8px;
    }
}
@media screen and (max-width: 900px) {
    
    .navbar-container>.navbar>img {
        width: 124px;
        height: 30px;
    }
    .navbar-container>.navbar>.navbar-items>p {
        font-size: 12px;
    }
    .navbar-container>.navbar>.navbar-items {
        gap: 4px;
    }
    .navbar-container>.navbar>.buttons {
        gap: 0;
    }
    .navbar-container>.navbar>.buttons>button {
        padding: 9px 12px;
        font-size: 12px;
        font-weight: 400;
    }
}
@media screen and (max-width: 780px) {
    .change-bg{
        display: none;
    }
    .navbar-container {
        padding: 30px 50px;
    }
    .navbar-container>.navbar {
        justify-content: flex-start;
    }
    .navbar-container>.navbar>img {
        width: 124px;
        height: 30px;
        margin-right: auto;
    }
    .navbar-container>.navbar>.navbar-items {
        display: none;
    }
    .navbar-container>.navbar>.buttons {
        gap: 6px;
    }
    .navbar-container>.navbar>.buttons>button {
        display: none;
    }
    .navbar-container>.navbar>.navbar-baricon{
        display: flex;
    }
}
@media screen and (max-width: 550px) {
    .navbar-container>.navbar>.navbar-items {
        display: none;
    }
    .navbar-container {
        padding: 15px 20px ;
    }
    .navbar-container>.navbar {
        justify-content: space-between;
    }
    .navbar-container>.navbar>.buttons {
        display: none;
    }
    .navbar-container>.navbar>img {
        
        width: 124px;
        height: 30px;
    }
    
.navbar-container>.navbar>.navbar-baricon{
    display: flex;
}
}