.exploreCards-section{
    display: flex;
    gap: 24px;
    flex-direction: column;
}
.exploreCards-section>.exploreCard{
    display: flex;
    gap: 20px;
    position: relative;
}
.exploreCards-section>.wt-map{
    display: flex;
        position: relative;
        padding-bottom: 50px;
        gap: 20px;
}
.exploreCards-section>.exploreCard>img{
    width: 240px;
height: 170px;
border-radius: 10px;
background: #D9D9D9;
}
.exploreCards-section>.wt-map>img{
    width: 180px;
    height: 130px;
}
.exploreCards-section>.exploreCard>.exploreCards-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0;
    gap: 12px;
    cursor: pointer;
}
.exploreCards-section>.wt-map>.exploreCards-content{
    position: static;
}
.exploreCards-section>.exploreCard>.image-area{
    position: absolute;
    top: 20px;
    right: 6%;

}
.exploreCards-section>.exploreCard>.image-area>img{
    width: 24px;
height: 24px;
cursor: pointer;
}
.exploreCards-section>.exploreCard>.exploreCards-content>h3{
    color: #120400;

/* Sub-H1 16/Medium */
font-family: "Proza Libre";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 20.8px */
}
.exploreCards-section>.exploreCard>.exploreCards-content>p{
    color: #555150;

/* Body 02 14/Regular */
font-family: "SF Pro Display";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 18.2px */
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3){
    display: flex;
    align-items: center;
    gap: 6px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>img{
width: 16px;
height: 16px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>p{
    color: var(--Primary-Color-Pink-03, #CD9B8E);

/* Caption 01 12/Medium */
font-family: "SF Pro Display";
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 130%; /* 15.6px */
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction{
    display: flex;
    gap: 24px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction{
    display: flex;
    align-items: center;
    gap: 6px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>img{
    width: 16px;
height: 16px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>p{
    color: var(--Text-Color-Black-01, #120400);

/* Caption 01 12/Regular */
font-family: "SF Pro Display";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 15.6px */
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5){
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 8px;
background: var(--Background-Color-Pink-01, #FDF3F0);
padding: 8px;
}
.exploreCards-section>.wt-map>.exploreCards-content>span:nth-child(5){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5)>img:nth-child(1){
    width: 16px;
    height: 16px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5)>img:nth-child(3){
    width: 20px;
    height: 20px;
    margin-left: auto;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5)>p{
    color: var(--Text-Color-Black-02, #555150);

/* Caption 01 12/Regular */
font-family: "SF Pro Display";
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 15.6px */
}
.exploreCards-section>.map-img-card{
    display: none;
}
@media screen and (min-width:1400px) {
    .explore-cards>span {
        width: 184px;
        height: 184px;
    }
    .explore-cards>span>img {
        width: 94px;
        height: 94px;
    }
    .explore-cards>span>p {
        font-size: 20px;
    }
    .exploreCards-section>.wt-map>img {
        width: 210px;
        height: 160px;
    }
    .exploreCards-section>.exploreCard>.exploreCards-content>h3 {
        font-size: 20px;
    }
    .exploreCards-section>.exploreCard>.exploreCards-content>p {
        font-size: 18px;
    }
    .exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>img {
        width: 20px;
        height: 20px;
    }
    .exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>p {
        font-size: 16px;
    }
    .exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>p {
        font-size: 14px;
    }
}
@media screen and (max-width:1120px) {
    .exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction {
        gap: 6px;
    }
}

@media screen and (max-width:1050px) {
    .exploreCards-section>.wt-map>img {
        width: 140px;
        height: 110px;
    }
}

@media screen and (max-width: 950px) {
   
.exploreCards-section>.exploreCard>img {
    width: 100px;
height: 80px;
}
.exploreCards-section>.exploreCard {
    gap: 10px;
}
.exploreCards-section>.exploreCard>.exploreCards-content {
    margin: 0;
    gap: 3px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>h3 {
    font-size: 12px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.image-area {
    top: 0;
    right: 0;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction {
    flex-direction: column;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>img {
    width: 14px ;
    height: 14px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>img {
    width: 14px;
    height: 14px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5) {
    width: 135%;
    align-self: flex-end;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5)>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.image-area>img {
    width: 18px;
    height: 18px;
}
.exploreCards-section>.wt-map>.exploreCards-content>span:nth-child(5) {
    position: static;
}
.exploreCards-section>.wt-map {
    padding-bottom: 0;
}

}
@media screen and (max-width: 600px) {
    
    .exploreCards-section {
        padding: 0 25px;
    }
.exploreCards-section>.exploreCard>img {
    width: 100px;
height: 80px;
}
.exploreCards-section>.exploreCard {
    gap: 10px;
}
.exploreCards-section>.exploreCard>.exploreCards-content {
    margin: 0;
    gap: 3px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>h3 {
    font-size: 12px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.image-area {
    top: 0;
    right: 0;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction {
    flex-direction: column;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(3)>img {
    width: 14px ;
    height: 14px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>img {
    width: 14px;
    height: 14px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>.ratings-direction>.direction>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5) {
    width: 135%;
    align-self: flex-end;
}
.exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5)>p {
    font-size: 10px;
}
.exploreCards-section>.exploreCard>.image-area>img {
    width: 18px;
    height: 18px;
}
.exploreCards-section>.map-img-card{
    display: block;
    width: 100%;
    height: 0;
    object-fit: contain;
    transition: 1s;
}
.exploreCards-section>.map-img-card.show{
    height: 250px;
    transition: 1s;
}
.exploreCards-section>.wt-map>.exploreCards-content>span:nth-child(5) {
    position: static;
}
.exploreCards-section>.wt-map {
    padding-bottom: 0;
}
}
@media screen and (max-width: 450px){
    .exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5) {
        width: 140%;
    }
    
    .exploreCards-section {
        padding: 0 12px;
    }
} 
@media screen and (max-width: 350px) {
    .exploreCards-section>.exploreCard>.exploreCards-content>span:nth-child(5) {
        width: 160%;
        align-self: flex-end;
    }
    .exploreCards-section>.wt-map>.exploreCards-content>span:nth-child(5) {
        width: 100%;
    }
    .exploreCards-section {
        padding: 0;
    }
    .exploreCards-section>.wt-map>.exploreCards-content>span:nth-child(5) {
        position: absolute;
    }
    .exploreCards-section>.wt-map>.exploreCards-content {
        margin: 0 0 50px 0;
        gap: 3px;
    }
}